<md-content>
  <section layout="column" layout-align="start center" layout-wrap>
    <h2>SHOW LOCATION</h2>

    <div style="position: relative;display: block;width: 500px;">
    <ng-map zoom="8" center="4.6677389,-74.0571312">

        <marker ng-repeat="(k, p) in vm.STORAGE track by $index"
        id = "marker-{{k}}"
        on-click="map.showInfoWindow('info-{{k}}')"
        position="{{p.position.lat}},{{p.position.lng}}">
      </marker>

      <info-window  ng-repeat="(k, p) in vm.STORAGE track by $index"
      id="info-{{k}}" visible-on-marker="marker-{{k}}" >
          <div ng-non-bindable>
            <div id="siteNotice"></div>
            <h1 id="firstHeading" class="firstHeading">Uluru</h1>
            <div id="bodyContent">
              <p><b>Uluru</b>, also referred to as <b>Ayers Rock</b>, is a large
              sandstone rock formation in the southern part of the
              Northern Territory, central Australia. It lies 335 km (208 mi)
              south west of the nearest large town, Alice Springs; 450 km
              (280 mi) by road. Kata Tjuta and Uluru are the two major
              features of the Uluru - Kata Tjuta National Park. Uluru is
              sacred to the Pitjantjatjara and Yankunytjatjara, the
              Aboriginal people of the area. It has many springs, waterholes,
              rock caves and ancient paintings. Uluru is listed as a World
              Heritage Site.</p>
              <p>Attribution: Uluru, <a href="http://en.wikipedia.org/w/index.php?title=Uluru&oldid=297882194">
              http://en.wikipedia.org/w/index.php?title=Uluru</a>
              (last visited June 22, 2009).</p>
            </div>
          </div>
        </info-window>

        <directions
        draggable="true"
        panel="directions-panel"
        travel-mode="DRIVING"
        origin="1135 Karamea-Kohaihai Rd, Kahurangi National Park, Tasman"
        destination="Pier St, Jackson Bay, West Coast, New Zeland">
      </directions>

    </ng-map>
  </div>
  </section>
</md-content>

