<md-content>
  <section layout="column" layout-align="start center" layout-wrap>
    <h2>SHOW LOCATION</h2>

    <div style="position: relative;display: block;width:100%;box-sizing: border-box;padding: 10%">
    <ng-map zoom="8" center="4.6677389,-74.0571312">

      <div ng-repeat="(k, p) in vm.STORAGE track by $index">

        <marker
        id = "marker-{{k}}"
        on-click="map.showInfoWindow('info-{{k}}')"
        position="{{p.position.lat}},{{p.position.lng}}">
      </marker>

      <info-window  id="info-{{k}}"  >
          <div>
            <h1>{{p.name}}</h1>
            <h2>{{p.address}}</h2>
            <h3>Lat : {{p.position.lat}}</h3>
            <h3>Lng : {{p.position.lng}}</h3>
          </div>
        </info-window>

      </div>

        <directions
        draggable="true"
        panel="directions-panel"
        travel-mode="DRIVING"
        origin="{{vm.locationFrom}}"
        destination="{{vm.locationTo}}">
      </directions>

    </ng-map>
  </div>

<h2>GET A ROUTE !</h2>
  <md-select ng-model="vm.locationFrom">
      <md-option ng-disable="true"><em>From</em></md-option>
      <md-option ng-repeat="place in vm.STORAGE" ng-value="place.name">
        {{place.name}}
      </md-option>
  </md-select>


  <md-select ng-model="vm.locationTo">
      <md-option ng-disable="true"><em>From</em></md-option>
      <md-option ng-repeat="place in vm.STORAGE" ng-value="place.name">
        {{place.name}}
      </md-option>
  </md-select>


  </section>
</md-content>

