<!-- ------------------------------------------------------------------- -->
<!-- -- Material Design :: Navbar                                        -->
<!-- ------------------------------------------------------------------- -->
<md-sidenav layout-fill style="min-width:300px" md-component-id="left" md-is-locked-open="vm.isAuthenticated() && $mdMedia('gt-sm')"
            class="md-sidenav-left md-whiteframe-2dp">




    <!-- ------------------------------------------------------------------- -->
    <!-- -- Navbar  :: Toolbar                                               -->
    <!-- ------------------------------------------------------------------- -->
    <md-toolbar hide-gt-sm>
        <h1 class="md-toolbar-tools" ng-click="vm.closeLeftNav()">HalloCasa / Locations App</h1>
    </md-toolbar>




    <!-- ------------------------------------------------------------------- -->
    <!-- -- Navbar  :: Content                                               -->
    <!-- ------------------------------------------------------------------- -->
    <md-content>
        <md-list>



                <md-list-item ng-click="vm.navigate(['/Manage'])">
                    <md-icon md-font-icon="mdi-view-dashboard" style="fill: green"></md-icon>
                    <p>Manage Locations</p>
                </md-list-item>

            <md-list-item ng-click="vm.navigate(['/Show'])">
                <md-icon md-font-icon="mdi-map" style="fill: green"></md-icon>
                <p>Show Locations</p>
            </md-list-item>




        </md-list>
    </md-content>



</md-sidenav>
<!-- ------------------------------------------------------------------- -->
